<!DOCTYPE html>

<html lang = "en">
<head>
    <title>TODO LIST</title>
    <script>src="index.js"</script>
</head>

<body>
    <h1>Current things to do:</h1>
    <ol id = "todoList">

    </ol>
<form action="todos/add" method="post">
    Add new ToDo Item:
    <input type="text" id="todo" name="todo"></input>
    <button type="submit" id = "addTodoBtn">Add</button>

</form>

<form action="todos/remove/:id" method="post">
    Remove ToDo Item by number:
    <input type="text" id="id" name="id"></input>
    <button type="submit" id = "removeTodoBtn">Remove</button>

</form>

<form action="todos/update" method="post">
    Mark ToDo Item Completed by number:
    <input type="text" id="idUpdate" name="idUpdate"></input>
    <button type="submit" id = "updateTodoBtn">Mark Complete</button>

</form>
    
</body>

</html> 